<div class="modal fade close_modal" id="Edit_Customer_on_Context" tabindex="" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-style-custom">

            <div class="title col-md-12">
                <span>Message</span>
                <img src="~/img/images/c3.png" class="close mr--13 pull-right" data-dismiss="modal" onclick="close_modal()"/>
            </div>



            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <div class="win text-center" id="edit_customers">
                        <h3 class="black-color"><b>Edit</b></h3>
                        <img class="pull-right margin-supplier ml-22" src="~/img/images/customer.png" />
                    </div>

                </div>
            </div>

            <div class="modal-footer"></div>



        </div>
    </div>
</div>


@*----------------------------POP UP END EDIT CUSTOMER--------------------------------*@